
$takt: 200px;

.hd1 {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: red;
  position: absolute;

}

.hd2 {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 100%;
  background-color: green;
  position: absolute;



}

.montage1{
/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}


.ramka {
  border: 1px solid black;
  position: absolute;

  width: 1300px;
  height: 600px;
}


.ML1 {
  border: 1px solid red;
  position: absolute;
  width: 1200px;
  height: 30px;
  top: 305px;
  left: 70px;
}

.ML2 {
  border: 1px solid green;
  position: absolute;
  width: 1200px;
  height: 30px;
  top: 230px;
  left: 70px;
}

.ML3 {
  border: 1px solid gold;
  position: absolute;
  width: 1200px;
  height: 30px;
  top: 370px;
  left: 70px;

}

.ML4 {
  border: 1px solid blue;
  position: absolute;
  width: 1200px;
  height: 30px;
  top: 435px;
  left: 70px;

}

.ML5 {
  border: 1px solid chocolate;
  position: absolute;
  width: 1200px;
  height: 30px;
  top: 490px;
  left: 70px;

}

.pole {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color:rgba($color: rgb(201, 204, 28), $alpha: 0.9);
  z-index: 10;
  top: -10px;
}
header > ul {
color: purple;
background : red;

}



