/* You can add global styles to this file, and also import other style files */

@import 'normalize';
@import '~bootstrap/dist/css/bootstrap.min.css';


.tooltip-inner{ color:#ffffff; font-weight:700;  background-color:rgb(51, 53, 46); text-align: left;}


body, html {
  height: 100%;
}

